<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthslife"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.healthlife.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.healthlife.activity.GetLocation"
            android:label="@string/title_activity_get_location" >
        </activity>
        <activity
            android:name="com.healthlife.activity.SelectSportsActivity"
            android:label="@string/title_activity_select_sports" >
        </activity>
        <activity
            android:name=".JogActivity"
            android:label="@string/title_activity_jogging" >
        </activity>
        <activity
            android:name="com.healthlife.activity.PushUpActivity"
            android:label="@string/title_activity_push_up" >
        </activity>
        <activity
            android:name="com.healthlife.activity.SitUpActivity"
            android:label="@string/title_activity_sit_up" >
        </activity>
        <activity
            android:name="com.healthlife.activity.WalkActivity"
            android:label="@string/title_activity_walking" >
        </activity>
        <activity
            android:name="com.healthlife.activity.ShowPushUpOrSitUpActivity"
            android:label="@string/title_activity_show_push_up" >
        </activity>
        <activity
            android:name=".ShowJogActivity"
            android:label="@string/title_activity_show_jog" >
        </activity>
        <activity
            android:name=".ShowWalkActivity"
            android:label="@string/title_activity_show_walk" >
        </activity>
        <activity
            android:name=".ShowSitUpActivity"
            android:label="@string/title_activity_show_sit_up" >
        </activity>
        <activity
            android:name=".ShowRecordActivity"
            android:label="@string/title_activity_show_record" >
        </activity>
        <activity
            android:name=".ShowSportsHistoryActivity"
            android:label="@string/title_activity_show_sports_history" >
        </activity>
        <service android:name=".PushUpService">         
        </service>
    </application>

</manifest>
